@import url('https://fonts.googleapis.com/css?family=Lato');


* {
  box-sizing: border-box;
}

#react-app-container {
  font-family: 'Lato', sans-serif;
}

#react-app-container ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

#react-app-container ::-webkit-scrollbar-thumb {
  background: #272727;
  border-radius: 8px;
}

#react-app-container ::selection {
  background: #000000;
}

#react-app-container input::-webkit-outer-spin-button,
#react-app-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.landscape #NotificationLayer {
  top: 0 !important;
}
