@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
}

#react-app-container {
  font-family: 'Lato', sans-serif;
  display: none;
}

#react-app-container ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

#react-app-container ::-webkit-scrollbar-thumb {
  background: #272727;
  border-radius: 8px;
}

#react-app-container ::selection {
  background: #000000;
}

#react-app-container input::-webkit-outer-spin-button,
#react-app-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.landscape #NotificationLayer {
  top: 0 !important;
}

.header-custom-buttons-container {
  display: flex;
  width: 330px;
  height: 100%;
  border: 1px solid #2d2d2d;
  border-top: 0;
  background: #211f21;
  border-bottom: 0;
  margin-left: 100px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.header-custom-buttons-container > .header-custom-button {
  cursor: pointer;
  font-size: 19px;
  color: white;
  padding: 8px;
  border-radius: 5px;
  width: 65px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(123, 121, 123);
  transition: all 0.5s ease-out 0s;
  font-size: 10px;
  margin-right: 10px;
}

.header-custom-button.fut-open-runner {
  background-color: #7e43f5;
}

.header-custom-button.fut-open-scenarios {
  background-color: #46464b;
}

.header-custom-button.fut-sync-transfers {
  background-color: #019247;
}

.header-custom-buttons-container > .header-custom-button:last-child {
  margin-right: 0;
}

.header-custom-buttons-container > .header-custom-button:hover {
  border-color: #7b797b;
  background-color: transparent;
}

.custom-fut-loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 72%);
  z-index: 99;
}

.custom-fut-loader img {
  width: 100px;
  height: 100px;
}
